<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Yassine Imounachen" %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="icon" href="favicon.png">
  </head>
  <body>
    <header>
      <h1 class="logo"><%= link_to "Yassine Imounachen", "." %></h1>
      <nav>
        <ul>
          <li><%= link_to "About", "/" %></li>
          <li><%= link_to "Photos", "photos.html" %></li>
          <li><%= link_to "Contact", "contact.html" %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
