<div>
  <div class="language">
    <% link_to (t(:other_language_prefix) + :current_page_file_name) do %>
      <%= t(:the_other_language) %>
    <% end %>
  </div>
  <header>
    <h1 class="logo"><%= link_to "Yassine Imounachen", "." %></h1>
    <nav>
      <ul>
        <li><%= link_to t(:about), "." %></li>
        <li><%= link_to "Photos", "photos.html" %></li>
        <li><%= link_to "Contact", "contact.html" %></li>
      </ul>
    </nav>
  </header>
</div>