<!DOCTYPE html>
<html lang=en>
  <%= partial :head, :locals => { :current_page => "Contact" } %>
  <body>
    <%= partial :header %>
    <div class="main contact">
      <div class="column">
        <h2><%= t(:contact_details) %></h2>
        <ul class="contact-details">
          <li class="phone">
            <% link_to "tel:+212661381453" do %>
              <%= image_tag "images/phone.svg" %>
              <span>+212 6 61 38 14 53</span>
            <% end %>
          </li>
          <li class="email">
            <% link_to "mailto:yassine.imounachen@gmail.com" do %>
              <%= image_tag "images/envelope.svg" %>
              <span>yassine.imounachen@gmail.com</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="column">
        <h2><%= t(:me_elsewhere) %></h2>
        <ul class="me-elsewhere">
          <li class="github">
            <% link_to "https://github.com/yassineim" do %>
              <%= image_tag "images/github.svg" %>
              <span>yassineim</span>
            <% end %>
          </li>
          <li class="linkedin">
            <% link_to "https://www.linkedin.com/in/yassineim" do %>
              <%= image_tag "images/linkedin.svg" %>
              <span>yassineim</span>
            <% end %>
          </li>
          <li class="twitter">
            <% link_to "https://twitter.com/yassineim" do %>
              <%= image_tag "images/twitter.svg" %>
              <span>yassineim</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
