<!DOCTYPE html>
<html lang=en>
  <%= partial :head, :locals => { :current_page => "À propos" } %>
  <body>
    <%= partial :header, :locals => { :page_file_name => "" } %>
    <div class="main about">
      <%= image_tag "images/yassine.jpg", :alt => "Yassine Imounachen", :class => "about-photo" %>
      <div class="about-text">
        <h2>À propos</h2>
        <p>Bonjour ! Je suis Yassine Imounachen, un ingénieur informaticien au Maroc. Vous pouvez voir <%= link_to "quelques photos que j'ai prises", "photos.html" %>, ou consulter
            <%= link_to "la page de contact", "contact.html" %>.</p>
      </div>
    </div>
  </body>
</html>