<!DOCTYPE html>
<html lang=en>
  <%= partial :head, :locals => { :current_page => "About" } %>
  <body>
    <%= partial :header %>
    <div class="main about">
      <%= image_tag "images/yassine.jpg", :alt => "Yassine Imounachen", :class => "about-photo" %>
      <div class="about-text">
        <h2>About</h2>
        <p>Hello there! I'm Yassine Imounachen, a Software Engineer from Morocco. You can see <%= link_to "some of my shots", "photos.html" %>, or visit the
            <%= link_to "contact page", "contact.html" %>.</p>
      </div>
    </div>
  </body>
</html>